body {
  background-color: lightyellow;
}

h2 {
  font-size: 35px;
  text-align: center;
}

h3 {
  margin-top: 40px;
  text-align: center;
}

input {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
}

span {
  font-style: italic;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: lightgrey;
  width: 90%;
  text-align: center
}

.requests {
  display: flex;
  flex-direction: column;
  flex-basis: 80%;
  padding: 50px 100px;
  border-bottom: 2px;
}

.select-method, .post-method-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
}


.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn {
  margin-top: 50px;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  font-size: 25px;
}

.response {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 100px 150px;
}

.requests h2, .response h2  {
  color: red;
  width: 100%;
}

#dropdown-method {
  height: 50px;
  width: 150px;
}

.response .status-code .value {
  background-color: white;
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.response .response-body .value {
  background-color: white;
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

footer .container {
  background-color: lightgrey;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.social {
  display: flex;
  width: 5%;
  align-items: center;
  justify-content: space-around;
}

.social a {
  font-size: 30px;
  color: black;
}

.author h4 a {
 color: red;
}
